@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 255, 255, 255;
  }

  /* @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 200, 210, 220;
      --background-rgb: 15 23 42;
    }
  } */

  body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
  }

  h1 {
    @apply text-3xl;
  }

  a {
    @apply underline;
  }

  button {
    @apply underline;
  }

  label {
    @apply font-bold
  }

  input {
    @apply px-3 py-1.5;
    @apply rounded-md;
    @apply shadow-sm;
    @apply border-gray-300;
    @apply focus:border-transparent focus:ring-0 focus:outline-2 focus:outline-offset-[-2px] focus:outline-green-600;
  }

  input[type="checkbox"] {
    @apply w-[1.1rem] h-[1.1rem];
    @apply rounded;
    @apply shadow-sm;
    @apply border-gray-300;
    @apply text-green-600;
    @apply focus:border-green-600 focus:ring focus:ring-offset-0 focus:ring-green-600 focus:ring-opacity-30;
  }

  ul {
    @apply list-disc list-inside;
  }
}
