@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 255, 255, 255;
  }

  /* @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 200, 210, 220;
      --background-rgb: 15 23 42;
    }
  } */

  body {
    @apply antialiased;
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
  }

  h1 {
    @apply text-4xl font-semibold;
  }

  h2 {
    @apply font-serif italic text-xl;
  }

  a {
    @apply text-green-600 underline;
  }

  label {
    @apply font-semibold;
  }

  input {
    @apply px-3 py-1.5;
    @apply rounded-md border-gray-300 shadow-sm;
    @apply focus:border-transparent focus:ring-0 focus:outline-2 focus:outline-offset-[-2px] focus:outline-green-600;
  }

  input[type="checkbox"] {
    @apply w-[1.1rem] h-[1.1rem];
    @apply text-green-600;
    @apply rounded border-gray-300 shadow-sm;
    @apply focus:border-green-600 focus:ring focus:ring-offset-0 focus:ring-green-600 focus:ring-opacity-30;
  }

  ul {
    @apply list-disc list-inside;
  }
}

@layer components {
  .btn {
    @apply inline-flex items-center whitespace-nowrap;
    @apply px-4 py-2.5;
    @apply text-black text-sm font-semibold no-underline;
    @apply bg-white hover:bg-gray-50 rounded-md shadow-sm ring-1 ring-inset ring-gray-300;
  }

  .btn-primary {
    @apply inline-flex items-center whitespace-nowrap;
    @apply px-4 py-2.5;
    @apply no-underline text-sm font-semibold text-white;
    @apply bg-green-600 hover:bg-green-500 rounded-md shadow-sm;
    @apply focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600;
  }

  .link {
    @apply underline text-green-600;
  }
}
